$black: rgba(0,0,0,0.9);
$white: rgba(254,254,254,1);
$lightgray: rgba(236,236,236,1);
$porcelain: rgba(236,240,241,1);
$silver: rgba(191,191,191,1);
$edward: rgba(171,183,183,1);
$lynch: rgba(108,122,137,1);

$red: rgba(203,37,43,1);
$redLight: rgba(232,67,72,1);
$redStrong: rgba(165,23,27,1);
$purple: rgba(27,20,100,1);
$purpleLight: rgba(69,61,158,1);
$purpleStrong: rgba(11,6,63,1);
