/*********************************************************************
**********************************************************************

   | STYLE

      // Site style and customisation

      @ General
      @ Main Menu
      @ Content Bloc
      @ Buttons

************************************************************************
************************************************************************/


/************************************************
   -> General
*******************************************/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 80%;
   color: $lynch;
   a {
      color: $purple;
   }
   a:hover {
      color: $edward;
   }
}


/************************************************
   -> Main Menu
*******************************************/

#mainMenu {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   padding: 5px 10px;
   background-color: rgba(255, 255, 255, 1);
   ul.left {
      li, a {
         margin: 0 !important;
         padding: 0;
      }
   }
   ul {
      li:last-child {
         margin-left: 20px;
      }
      a {
         font-weight: 600;
         height: 40px;
         line-height: 40px;
         padding: 0 10px;
         font-size: 1.2em;
      }
   }
}


/************************************************
   -> Content Bloc
*******************************************/

#mainWrapper {

}


/************************************************
   -> Buttons
*******************************************/

.btn {
   background-color: $red;
   color: $white;
}
.btn:hover {
   background-color: $redStrong;
   color: $white;
}
.btn_outline {
   border-color: $lynch;
   color: $lynch;
}
.btn.btn_light {
   background-color: $white;
   color: $purple;
}
.btn.btn_light:hover {
   background-color: $purple;
   color: $white;
}
.btn_outline:hover {
   background-color: $lynch !important;
   border-color: $lynch;
   color: $white;
}




/************************************************
   -> Home Page Style

*******************************************/

/*********************************
   Featured
************************/

#featured {
   position: relative;
   padding: 70px 50px 50px 50px;
   //@include linear-gradient(rgba(8,104,172,1), rgba(8,64,129,1));
   @include linear-gradient($purple, $purple);
   h2 {
      color: $white;
   }
   #btn_wrapper {
      margin-top: 40px;
      .btn {
         margin: 0 10px;
      }
      .btn_outline {
         border-color: $white;
         color: $white;

      }
      .btn_outline:hover {
         background-color: $white !important;
         border-color: $white;
         color: $purple;
      }
   }
   #infos_version {
      margin-top: 30px;
      color: $white;
   }
}


/*********************************
   Quick links
************************/

#content_links {
   .wrapp_box {
      padding: 25px 50px;
   }
   ul {
      a {
         color: $purpleLight;
         padding: 5px 20px;
      }
      a:hover {
         color: $white;
      }
   }
}
.content_lowLight {
   background-color: $porcelain;
}

.content_highLight {
   background-color: $purpleStrong;
   color: $white;
}


/*********************************
   Item card
************************/

.item {
   text-align: center;
   padding: 15px;
   i {
      font-size: 5em;
      color: $edward;
      margin-bottom: 20px;
   }
   a {
      padding: 10px 15px;
      min-width: 100px;
   }
}




/************************************************
   COMPONENTS
   -> Personnalisation

*******************************************/

/****************
   Left Menu
*/
#leftMenu {
   flex: inherit;
   width: 150px;
   margin-right: 15px;
   a {
      font-size: 1.4em;
      padding: 5px 0;
      color: $lynch;
   }
   a:hover {
      padding: 5px 0 5px 3px;
      color: $edward;
   }
}

/****************
   Components page style
*/
#components {
   h2.title {
      color: $silver;
      margin-bottom: 35px;
      padding-left: 15px;
      border-left: 10px solid $silver;
   }
   p {
      margin-bottom: 30px;
   }
}
