/*************************************
   GENERAL
*************************************/
body {
   font-family: 'Roboto', sans-serif;
   font-size: 80%;
   color: $lynch;

}

a {
   color: $blueStrong;
}
a:hover {
   color: $blueRoyal;
}

/*************************************
   MAINMENU
*************************************/
#mainMenu {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   padding: 15px 20px;
   background-color: rgba(255, 255, 255, 1);
   ul {
      a {
         font-weight: 600;
         height: 40px;
         line-height: 40px;
         padding: 0 10px;
         font-size: 1.2em;
      }
   }
}


/*************************************
   MAINWRAPPER
*************************************/
#mainWrapper {

}


/*************************************
   BUTTONS
*************************************/
.btn {
   background-color: $blueStrong;
   color: $white;
}
.btn:hover {
   background-color: $blueRoyal;
   color: $white;
}
.btn_outline {
   border-color: $lynch;
   color: $lynch;
}
.btn_outline:hover {
   background-color: $lynch !important;
   border-color: $lynch;
   color: $white;
}

/*************************************

   HOME STYLE

*************************************/

/****************
   Featured
*/
#featured {
   position: relative;
   padding: 150px 50px 90px 50px;
   @include linear-gradient(rgba(8,104,172,1), rgba(8,64,129,1));
   h1 {
      color: $white;
   }
   #btn_wrapper {
      margin-top: 70px;
      .btn {
         margin: 0 10px;
      }
      .btn_outline {
         border-color: $white;
         color: $white;

      }
      .btn_outline:hover {
         background-color: $white !important;
         border-color: $white;
         color: $blueStrong;
      }
   }
   #infos_version {
      margin-top: 30px;
      color: $blueVeryStrong;
   }
}


#content_links {
   .wrapp_box {
      padding: 25px 50px;
   }
   ul {
      a {
         color: $blueRoyal;
         padding: 5px 20px;
      }
      a:hover {
         color: $white;
      }
   }
}
.content_lowLight {
   background-color: $porcelain;
}

.content_highLight {
   background-color: $blueStrong;
   color: $white;
}







.item {
   text-align: center;
   padding: 15px;
   i {
      font-size: 5em;
      color: $blueRoyal;
      margin-bottom: 20px;
   }
   a {
      padding: 10px 15px;
      min-width: 100px;
   }
}


/*************************************
   COMPONENTS
   -> Personnalisation

*************************************/

#components {
   h2.title {
      color: $blueRoyal;
      margin-bottom: 35px;
      padding-bottom: 15px;
      border-bottom: 1px dashed $silver;
   }
}

.show_box {
   padding: 20px 40px;
   border: 1px solid $silver;
   background-color: $lightgray;
   border-radius: 4px;
   margin-bottom: 20px;
}
