.headerSection {
   .wrapp_box {
      padding: 80px 0 10px 15px;
   }
   h1 {
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 0;
      color: #f62459;
      font-size: 1.8em;
   }
   h4 {
      margin-top: 0;
   }
}
.content_section {
      position: relative;
}
.wrapp_box {
   margin: 0 auto;
   max-width: 1100px;
   padding: 25px 40px;
}
.content_lowLight {
   pre {
      background-color: $blueVeryStrong;
      color: $white;
   }
}
.content_highLight {
   pre {
      background-color: $blueVeryStrong;
      color: $blueRoyal;
   }
}

.show_box {
   padding: 20px 40px;
   border: 1px solid $silver;
   background-color: $porcelain;
   border-radius: 4px;
}
