// Wavesurfer Styling

#wave {
    position: relative;
    height: 100px;
    margin-bottom: 20px;
}

.progress {
   padding-top: 23px;
   display: block;
   height: 10px;
   .progress-bar {
      border-radius: 6px;
      width: 0;
      display: block;
      height: 10px;
      background-color: red;
   }
}
