<header class="headerSection content_lowLight">
   <div class="wrapp_box align_left clearfix">
      <h1><span>Getting</span>Started</h1>
   </div>
</header>

<section class="content_section">
   <div class="wrapp_box clearfix">
      <ul>
         <li class="jplayerStyle" ng-repeat="play in list.data">
            <span id="play">{{play.title}}</span>
            <jplayer ng-if="play.content" class='speaker' data-audio="play.content.file" data-autoplay="false" data-pauseothers="true"></jplayer>
         </li>
      </ul>
   </div>
</section>
