<nav id="mainMenu" class="clearfix">
   <ul class="left list_h">
      <li>
         <a ui-sref="home" class="home"><img src="img/origin_materials_little.png"></a>
      </li>
   </ul>
   <ul class="right menu list_h">
      <li>
         <a ui-sref="getStarted">Get Started</a>
      </li>
      <li>
         <a ui-sref="docs">Guides & resources</a>
      </li>
      <li>
         <a class="btn" target="_blank" href="https://github.com/blackratio/Origin"><i class="fa fa-download"></i>Download</a>
      </li>
   </ul>
</nav>
