<header class="headerSection center">
   <h1>Typography</h1>
   <h4>Style of paragraph typography</h4>
</header>

<section class="boxWrapper">
   <h1>Typography</h1>
   <h2>Typography</h2>
   <h3>Typography</h3>
   <h4>Typography</h4>
   <h5>Typography</h5>
   <h6>Typography</h6>
   <p>Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada.</p>
</section>
